extends ../components/layout

block content
  h2 Welcome to Library Manager.
  p More to come.
  a(href="/books") All Books
  br
  a(href="/books/new") Add Book
  br
  a(href="/books/1") Book 1
  br
  a(href="/books/1/delete") Remove Book 1
