extends ../components/layout

block content
  h2 Welcome to Library Manager.
  p More to come.
  a(href="/books") View All Books
  br
  a(href="/books/new") Add a Book to the Catalog
  br
  a(href="/books/1") Book 1 Detail View
  br
  a(href="/books/1/edit") Edit Book 1
  br
  a(href="/books/1/delete") Remove Book 1
